@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('~@/static/fonts/iconfont.ttf?t=1624266869689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouarrow484:before {
  content: "\e6a8";
}

